# Build output
dist/
coverage/

# Dependencies
node_modules/

# Environment files
.env
.env.local

# Editor directories and files
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.swo
*.swp
*~
diff.txt

# Package manager
package-lock.json
pnpm-lock.yaml
yarn.lock
